---
extension: html
filter: haml
---
!!! XML
!!! Strict

- @home = "/SyntaxHighlighter"
- @partials = "#{@home}/partials"
- @sh = "/pub/sh/current"

%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title= "SyntaxHighlighter - #{@page.title}"
    %script{ :type => 'text/javascript', :src => "/scripts/jquery-1.4.2.js" }
  
  %body
    .layout
      .main
        .content
          .title
            %h1
              %a{ :href => @home } SyntaxHighlighter
              \/
              = @page.title
          .body
            = render(:partial => '/SyntaxHighlighter/partials/header_note')
            = @content
          %div{ :style => 'clear: both' }
        
      .header
        .content
          .name
            %a{ :href => '/' } alexgorbatchev.com
          .menu.li-links
            %ul
              %li.spotlight
                %a{ :href => @home }SyntaxHighlighter 2.0
              %li
                %a{ :href => "/forums"} forums
              %li
                %a{ :href => "http://bitbucket.org/alexg/syntaxhighlighter/issues/"} bugs

  %link{ :type => 'text/css', :rel => 'stylesheet', :href => "/css/main.css" }
  %link{ :type => 'text/css', :rel => 'stylesheet', :href => "#{@sh}/styles/shCore.css" }
  %link{ :type => 'text/css', :rel => 'stylesheet', :href => "#{@sh}/styles/#{@page._meta_data['theme'] || 'shThemeDefault'}.css" }
  %script{ :type => 'text/javascript', :src => "#{@sh}/scripts/XRegExp.js" }
  %script{ :type => 'text/javascript', :src => "#{@sh}/scripts/shCore.js" }
  %script{ :type => 'text/javascript', :src => "#{@sh}/scripts/shAutoloader.js" }
  %script{ :type => 'text/javascript', :src => "#{@sh}/scripts/shBrushXml.js" }
  %script{ :type => 'text/javascript', :src => "#{@home}/scripts/main.js" }
